body {
  background-color:#ffe0e0;
}

.editprofile.panel-body {
  font-family: 'Bree Serif', serif;
}

.editprofile_avatarimg {
  max-width: 150px;
  max-height: 150px;
}

.editprofile_submit {
  margin-top: 2%;
  float: right;
}

.editprofile_confirmation {
  color: green;
  font-weight: bold;
}

.editprofile_description {
  resize: none;
}

input.editprofile_avatar[type="file"] {
    display: none;
}
.editprofile_custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 6px;
    cursor: pointer;
}
