body {
  background-color:#ffe0e0;
}

.editprofile.panel-body {
  font-family: 'Bree Serif', serif;
}

.editprofile_avatarimg {
  max-width: 150px;
  max-height: 150px;
}

.editprofile_submit {
  margin-top: 5%;
}

.editprofile_confirmation {
  color: green;
  font-weight: bold;
}
