body {
  background-color:#ffe0e0;
}


.home.panel-body {
  font-family: 'Bree Serif', serif;
}

.home_submit {
  float: right;
}

.home_confirmation_true {
  color: green;
  font-weight: bold;
}

.home_confirmation_false {
  color: red;
  font-weight: bold;
}

.home_post {
  margin-top: 1%;
  resize: none;
}

input.home_post_photo[type="file"] {
    display: none;
}

.home_custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 6px;
    cursor: pointer;
}

.home_updates_title {
  text-align: center;
}


.home_avatarimg_post {
  max-width: 50px;
  max-height: 50px;
  border: 1px solid black;
}

.home_post {
  padding: 1%;
}

.home_name_post {
  font-weight: bold;
  margin-bottom: 2%;
}

.home_lastpost_photo {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin-top: 3%;
}

.home_iduser_post {
  color: inherit;
}

.home_iduser_post:hover, .home_iduser_post:active  {
  color: #ff6868;
  text-decoration: none;
}

.home_date_post {
  float: right;
}

.home_post_options {
  float: right;
  margin-right: 3%;
  color: #3097d1;
}

.home_post_options:hover {
  color: #ff6868;
  text-decoration: none;
}

.home_idpost_reviewtext {
  margin-left: 3.5%;
  margin-top: 3%;
  font-weight: normal;
}

.home_review_options {
  margin-top: 3%;
}

.home_idpost_review {
  font-weight: bold;
}

.home_message_edited {
  color: #ff6868;
  float: right;
  margin-top: -3%;
}

.home_post_likes {
  color: #3097d1;
  margin-left: 1.5%;
  cursor: pointer;
}

.home_post_likes:hover, .home_post_likes_clicked:hover {
  color: #ff6868;
  text-decoration: none;
}

.home_post_likes_clicked {
  margin-left: 1.5%;
  color: #ff6868;
  text-decoration: none;
  cursor: pointer;
}

.home_post_likes_num {
  cursor: pointer;
}

.btn-danger {
  background-color: #cc0000;
}





.home_lastpost_photo {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.home_lastpost_photo:hover {opacity: 0.7;}

/* The Modal (background) */
.home_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.home_modal-content {
    margin: auto;
    display: block;
    max-width: 700px;
    max-height: 700px;
}



/* Add Animation */
.home_modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.home_close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.home_close:hover,
.home_close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .home_modal-content {
        width: 100%;
    }
}
