body {
  background-color: #ffe0e0;
}

.logo {
  text-align: center;
  margin-top: 5%;
  line-height: 20px;
}

.fa-paw {
  color: black;
  font-size: 1000%;
}

.title {
  font-family: 'Baloo';
  font-size: 500%;
  color: black;
}

.links {
  margin: auto;
  margin-top: 6%;
  width: 13%;
}

.links > a {
  color: #4f4f4f;
  display: block;
  margin-top: 5%;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
