body {
  background-color: #ffe0e0;
}

.index_logo {
  text-align: center;
  margin-top: 10%;
  line-height: 20px;
}

.index.fa-paw {
  color: black;
  font-size: 1000%;
}

.index_title {
  font-family: 'Baloo';
  font-size: 500%;
  color: black;
}

.index_links {
  margin: auto;
  margin-top: 5%;
  max-width: 70%;
}

.index_links > a {
  color: #4f4f4f;
  display: block;
  margin-top: 5%;
  font-size: 130%;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;

}
