/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map_map {
  height: 77%;
  width: 100%;
  margin-top: -1%;
}

body {
  background-color:#ffe0e0;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.media{
  font-family: 'Bree Serif', serif;
}
.infoimg{
  max-width: 75px !important;
  max-height: 75px !important;
  border: 1 solid black;
}
.lletra{
  font-family: 'Bree Serif', serif;
}
.enlace{
  text-decoration: none !important;
  font-weight: bold;
  color: inherit;
}
.enlace:hover{
  color: #ff6868;
}
.patita_llena{
  color: #ff6868 !important;
}
.valoration > label:before {
  margin: 3px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f1b0";
}

.valoration > label {
  color: #ddd;/*color fondo patita sin clicar*/
  float: left;
}
#nums{
  font-size: 1.25em;
  display: inline;
  margin: 5px;
  margin-left: 7px;
  /*color: #ff6868;*/
}
#botoCentrat {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  /*margin-bottom: 22px;*/
  margin-top: 10px;
  text-align: center;
  width: 105px;
}
#textBotoCentrat {
  color: rgb(25,25,25);
  font-family: Roboto,Arial,sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.map_fav {
  float: right;
  margin-top: 11%;
  font-size: 1.5em;
  color: #bfbec1;
  cursor: pointer;
}

.map_fav:hover, .map_faved:hover {
  color: #ff6868;
  text-decoration: none;
}

.map_faved {
  float: right;
  margin-top: 11%;
  font-size: 1.5em;
  color: #ff6868;
  text-decoration: none;
  cursor: pointer;
}


.azulito{
  color: #3097d1;
}
.rosita:hover{
  background-color: #ff6868;
  border-color: #ff6868;
}

.amaga{
  display: none;
}
.junticos{
  margin-top: -4.5%;
  max-width: 50%;
}
.form_icon{
  /*width:20px;
  height:20px;*/
  margin-left: -40px;
}
/*.columna{
  margin-left: -80px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}*/
.rosa{
  color: #ff6868;
}
.correcte {
  color: green;
  font-weight: bold;
}
.error {
  color: red;
  font-weight: bold;
}
.warning{
  color: orange;
  font-weight: bold;
}
.ancho{
  width: 300px;
  min-width: 300px;
  max-height: 67px;
}

.map.panel {
  margin: auto;
  margin-top: -55px;
  margin-bottom: 2%;
  text-align: center;
  font-family: 'Bree Serif', serif;
}
/*@media (min-width: 1370px) {
  .map.panel {
    margin-top: -3%;
}*/

.map.panel-body {
  padding: 0;
  display: flex;
  justify-content: center;
}

.map.panel-heading {
  padding: 0.1%;
  font-size: 1.25em;
}

.map.a {
  padding: 20%;
}
.map.a:hover{
  color: #ff6868;
}

.glyphicon {
  font-size: 1.25em;
}
.augmentar{
  font-size: 1.25em;
}
.augmentar_mes{
  font-size: 1.5em;
}
/*.augmentar:hover{
  color: red !important;
}*/
.bien{
  display: inline-block !important;
  margin: 0px !important;
}
.ba_color_map{
  color: #595959 !important;
}
.ba_color_vet{
  color: #00e13c !important;
}
.ba_color_park{
  color: #937644 !important;
}
.ba_color_pipican{
  color: #FFDA44 !important;
}
.ba_color_hotel_can{
  color: #5781fc !important;
}
.ba_color_protectora{
  color: #ff9900 !important;
}
.ba_color_botiga{
  color: #4e359c !important;
}
.ba_color_rest{
  color: #e065ab !important;
}
.ba_color_meus{
  color: #fc2511 !important;
}

/*Azul: 5781fc
Marrón: 937644
Verde: 00e13c
Naranja: ff9900
Lila: 4e359c
Rojo: fc2511
Amarillo: fcf357*/
@media (max-width: 770px) {
  .bien{
    margin-top: -7px !important;
  }
}
